body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center; 
    align-items: center; 
    height: 90vh; 
    margin: 0;
    background: linear-gradient(135deg, #4d90e8, #868cf0);

}

label {
    justify-content: center;
    align-items: center; 
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-bottom: 10px;
    width: 500px;
    height: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
